@import "../../../../Global_scss/Mixin.scss";

.adminSection__banner {
  table {
    th {
      background-color: rgba($color: #000030, $alpha: 0.4);
      color: #fff;
    }
    tr {
      td {
        font-size: 1.4rem;
      }
      &:hover {
        background-color: rgba(255, 0, 0, 0.205);
        color: #000;
      }
      button {
        outline: none;
        &:hover {
          box-shadow: 0 0 3px 3px rgba($color: #000000, $alpha: 0.5);
        }
      }
    }
  }
  input {
    width: 50%;
    font-size: 1.6rem;
    border-radius: 20px;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    padding-left: 20px;
    transition: all 0.5s;
    margin-bottom: 30px;
    @include responsive(sm) {
      width: 80%;
    }
    &:focus {
      background-color: rgba(0, 0, 51, 0.658);
      color: #fc0;
    }
  }
  .group__btn--admin {
    text-align: center;

    button {
      margin: 30px 40px;
      padding: 10px 20px;
      font-size: 1.6rem;
      box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.7);
      font-weight: bolder;
      @include responsive(sm) {
        margin: 10px 10px;
        padding: 5px 15px;
        font-size: 1.2rem;
      }
      &:hover {
        box-shadow: 0 0 3px 3px rgba($color: #000000, $alpha: 0.5);
        background-color: #000;
        color: #fc0;
      }
    }
  }
}
.showTabCarousel {
  padding: 20px 40px 40px;
  h1 {
    padding: 10px 20px;
    background-color: rgb(0, 0, 51);
    color: #fc0;
  }
  .table__carousel {
    @include responsive(lg) {
      overflow-x: scroll;
    }
  }
  .carousel__admin {
    text-align: center;
  }
  button {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.582);
    &:hover {
      box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.582);
    }
  }
}
.showTabNews {
  @extend .showTabCarousel;
  .news__admin {
    text-align: center;
  }
}
.showTabBanner {
  text-align: center;
  padding: 20px 40px 40px;
  .showTabBanner__content---img {
    height: 300px;
    @include responsive(md) {
      height: 220px;
    }
    @include responsive(sm) {
      height: 120px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-position: center;
    }
  }
}
