@import "../../../component/global-scss/Mixin.scss";
@import "../../../component/global-scss/Variable.scss";
.my_product1 {
  @include boderProduct;
  .Product__1--text {
    @include HeaddingTitle1;
  }
  .Product__1--content {
    position: relative;
    background-color: snow;
    padding: 10px 40px;
    padding-top: 17px;
    border: 2px solid rgba(207, 219, 195, 0.5);
    @include responsive(sm) {
      padding: 10px 10px;
    }
    .owl-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(207, 219, 195, 0.5) !important;
      font-size: 3rem !important;
      color: black !important;
      line-height: 70px !important;
      opacity: 1;
      border: 4px solid rgb(110, 106, 110) !important;
      font-weight: bold !important;
      @include responsive(sm) {
        //display: none;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.39) !important;
        color: #f10 !important;
      }
    }
    .owl-prev {
      @extend .owl-button;
      left: -60px;
      @include responsive(sm) {
        left: -14px;
      }
      border-right: none !important;
    }
    .owl-next {
      @extend .owl-button;
      right: -60px;
      @include responsive(sm) {
        right: -14px;
      }
      border-left: none !important;
    }
    @include CardItem;
    .card {
      margin: 20px 0;
      &:hover {
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 1, 0.5);
        @include responsive(md) {
          //margin-top: 20px;
        }
      }
    }
  }
  .card__model--product1 {
    @include CardModal;
  }
}
