@import "../../../component/global-scss/Mixin.scss";
@import "../../../component/global-scss/Variable.scss";
.banner__main {
  //background-color: $color-bg-dark0;
  background-color: snow;
  padding: 10px 40px;
  position: relative;
  @include responsive(sm) {
    padding: 7px;
  }
  .banner__hr {
    height: 3px;
    width: 75%;
    background: linear-gradient(45deg, #f00, #00f);
    margin: auto;
    animation: line_hr 5s linear 3s infinite;
  }
  .banner__img {
    width: 100%;
    height: 250px;
    @include responsive(lg) {
      height: 190px;
    }
    @include responsive(sm) {
      height: 120px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .banner_icon {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateY(-50%);
    animation: icon_banner 5s linear 0s infinite;
    i {
      font-size: 2.5rem;
      color: rgb(0, 174, 255);
    }
  }
}
@keyframes line_hr {
  0% {
    width: 0%;
    opacity: 0.5;
  }
  100% {
    width: 75%;
    opacity: 1;
  }
}

@keyframes icon_banner {
  0% {
    top: 10px;
  }
  20% {
    top: 30px;
    transform: scale(2);
    opacity: 0.8;
  }
  40% {
    top: 60px;
    transform: scale(1.1);
    opacity: 0.6;
  }
  60% {
    top: 90px;
    transform: scale(2);
    opacity: 0.8;
  }
  80% {
    top: 120px;
    transform: scale(1.1);
    opacity: 0.6;
  }
  100% {
    top: 150px;
    transform: scale(2);
    opacity: 1;
  }
}
