@import "../../../Global_scss/Mixin.scss";
.select__page {
  padding: 60px 40px;
  hr {
    border-top: 2px solid rgb(160, 121, 121);
  }
  @include responsive(sm) {
    padding: 30px 8px;
  }
  .btn-exit {
    button {
      font-size: 4rem;
      padding: 0 20px;
    }
  }
  div {
    h2 {
      background-color: #003;
      color: #fc0;
      border-radius: 15px;
      width: 30%;
      padding: 20px 0;
      margin: auto;
      @include responsive(sm) {
        width: 80%;
        font-size: 1.3rem;
      }
    }
  }
  .select__header {
    .select__header--left {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 400px;
      padding: 0 15%;
      @include responsive(lg) {
        min-height: 250px;
      }
      img {
        width: 100%;
        object-fit: contain;
        background-position: center;
      }
    }
    .select__header--right {
      min-height: 400px;
      display: flex;
      justify-content: left;
      align-items: flex-start;
      font-size: 1.6rem;
      padding-top: 17%;
      @include responsive(lg) {
        min-height: 250px;
      }
      p.text__price {
        font-weight: bold;

        font-style: italic;
      }
      p.text__price-sale {
        color: red;
        text-decoration: line-through;
      }
    }
  }
  .select__body {
    .select__body--top {
      p {
        font-size: 1.8rem;
      }
    }
    .select__body--bottom {
      text-align: center;
      width: 50%;
      margin: auto;
      @include responsive(lg) {
        width: 90%;
      }
      h4 {
        font-size: 2.6rem;
        @include responsive(sm) {
          font-size: 1.6rem;
        }
        color: rgb(169, 63, 211);
        font-weight: bold;
        font-style: italic;
      }
      img,
      iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center;
      }
    }
  }
  .select__footer {
    @extend .select__body--bottom;
    iframe {
      min-height: 350px;
      @include responsive(sm) {
        min-height: 230px;
      }
    }
  }
}
